/*  ADD your styles below --- WHERE INDICATED ---
    Keep all the comments I have provided.
    Where I have commented "keep," DO NOT touch that line!
    */

body,aside {
    background: #DAAD86; /* must change */
    color: #000; /* may be #000 or #fff */
    font-family: Calibri, Arial, sans-serif; /* keep */
}

article {
    background: #85A1B3;
    width: 800px; /* keep */
    padding: 20px; /* keep */
    margin: auto; /* keep */
    border: 2px solid; /* can delete or change */
}

/* --- ADD YOUR STYLES BELOW --- */

header, footer {
  background: #FBEEC1;
}

figure {
  background: #EFDCDC;
}



/* --- add your PSEUDO CLASSES below this line --- */

a:link {
  color: #0F235E;
}
a:visited {
  color: #12296E;
}
a:focus {
  color: #15307E;
}
a:hover {
  color: #183690;
}
a:active {
  color: #1B3DA1;
}
